{{#each .}}
    {{#if children}}
        <li class="dropdown">
            <a
                    href="{{url}}"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >
                <i class="{{icon}}"></i> {{title}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{#each children}}
                <li><a href="{{url}}"><i class="{{icon}}"></i> {{title}}</a></li>
                {{/each}}
            </ul>
        </li>
    {{else}}
        <li><a href="{{url}}"><i class="{{icon}}"></i> {{title}}</a></li>
    {{/if}}
{{/each}}
