div.installer-page {
 width: 512px;
 margin: auto;
 background: #dddddd;
 padding: 8px;
}
div.installer-page h1 {
 text-align: center;
}
div.installer-page h2 {
 background: #cccccc;
 padding: 4px;
}
div.installer-page label {
 clear: both;
 float: left;
 width: 40%;
 text-align: right;
 padding: 4px;
 margin: 4px;
}
div.installer-page input {
 float: left;
 width: 50%;
 padding: 4px;
 margin: 4px;
}
div.installer-page hr {
 clear: both;
}
div.installer-page div.submit-box {
 height: 48px;
 text-align: center;
}
div.installer-page div.submit-box input {
 width: 100%;
 font-size: x-large;
 margin: auto;
}
