div.installer-page {
	width: 512px;
	margin: auto;
	background: #dddddd;
	padding: 8px;
	
	h1 {text-align: center;}
	h2 {
		background: #cccccc;
		padding: 4px;
	}
	label {
		clear: both; float: left; width: 40%; text-align: right; padding: 4px;
		margin: 4px;
	}
	input {
		float: left; width: 50%; padding: 4px;
		margin: 4px;
	}
	hr {clear: both;}
	div.submit-box {
		height: 48px;
		text-align: center;
		input {
			width: 100%;
			font-size: x-large;
			margin: auto;
		}
	}
}